*{
   margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    display: inline-flex;
    flex-direction: column;
    position:absolute;
    top: 25%;
   }
   a{
    margin-top: 25px;
   }
.figure1{
    
    margin: 0;
    z-index: -1;
    width: 100%;
    height: 100px;
    left: 0;
}
.logo{
    width: 10%;
    height: 10%;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 80px;
    left: 80%;
    
    
}
h1{
    position: absolute;
    top: 5%;
   }
h2{
    color: white;
    background: black;
    text-align: center;
    padding: 5px;
}
ul{
    position: relative;
    display: block;
    left: 15%;
    margin-top: 5px;
}
h3{
    position: relative;
    display: block;
    left: 15%;
    top: 25%;
    
}
article{
    width: 75%;
    position: relative;
    left: 25%;
    top: 25%;
    text-align: justify;
    text-indent: 15px;
    margin-bottom: 15px;
   
}
.contact{
 margin-top: 5%;
}
p{
    position: relative;
    display: block;
    left: 15%;
    margin-bottom:25px ;
    
}